{% extends 'main.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Сброс пароля</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block mt-2">
                    <button type="submit" class="btn btn-primary btn-sm">Сбросить пароль</button>
                    <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-sm">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}