{% extends 'main.html' %}
{% load static %}
{% load rating_tags %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="row">
                <div class="col-4">
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <p>Нет изображения</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a>
                        </h5>
                        <p class="card-text">{{ post.description }}</p>
                        <small>Добавил {{ post.author.username }}, {{ post.create }}</small>
                        в категорию: <a
                            href="{% url 'blog:post_by_category' post.category.slug %}">{{ post.category.title }}</a>
                    </div>
                </div>
            </div>
            <div class="rating-buttons" data-post-id="{{ post.id }}">
                {% get_user_rating_value post request.user as current_vote %}

                <button class="btn btn-sm btn-outline-success like-button" data-value="1"
                        data-current-vote="{{ current_vote }}">
                    👍
                </button>
                <button class="btn btn-sm btn-outline-danger dislike-button" data-value="-1"
                        data-current-vote="{{ current_vote }}">
                    👎
                </button>
                <span class="rating-sum badge bg-secondary ms-2">{{ post.get_sum_rating }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}
