{% extends 'main.html' %}
{% load mptt_tags %}
{% load static %}
{% load rating_tags %}
{% load thumbnail %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if post.thumbnail and post.thumbnail.name != 'images/thumbnails/default.jpg' %}
                    <img src="{% thumbnail post.thumbnail "600x400" crop="center" quality=85 %}"
                         class="img-fluid rounded-start"
                         alt="{{ post.title }}">
                {% else %}
                    <img src="{% static 'images/thumbnails/default.jpg' %}"
                         class="img-fluid rounded-start"
                         alt="Изображение не найдено">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="card-text">{{ post.text|linebreaksbr }}</p> 

                    <p class="card-text">
                        <small class="text-muted">
                            Категория: <a href="{% url 'blog:post_by_category' post.category.slug %}">{{ post.category.title }}</a>
                            / Добавил: <a href="{% url 'accounts:profile_detail' post.author.profile.slug %}">{{ post.author.username }}</a>
                            / <time>{{ post.time_create|date:"d.m.Y H:i" }}</time> 
                        </small>
                    </p>
                </div>
            </div>
        </div>
        {# Контейнер для кнопок рейтинга #}
        <div class="card-footer d-flex justify-content-start align-items-center">
            <div class="rating-buttons" data-post-id="{{ post.id }}">
                {% get_user_rating_value post request.user as current_vote %}

                <button class="btn btn-sm {% if current_vote == 1 %}btn-success{% else %}btn-outline-success{% endif %} like-button" data-value="1"
                        data-current-vote="{{ current_vote }}">
                    👍
                </button>
                <button class="btn btn-sm {% if current_vote == -1 %}btn-danger{% else %}btn-outline-danger{% endif %} dislike-button" data-value="-1"
                        data-current-vote="{{ current_vote }}">
                    👎
                </button>
                <span class="rating-sum badge bg-secondary ms-2">{{ post.get_sum_rating }}</span>
            </div>
        </div>
    </div>
    <div class="card border-0 mt-4">
        <div class="card-body">
            <h5 class="card-title">
                Комментарии
            </h5>
            {% include 'blog/comments/comments_list.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {# Подключаем скрипт для рейтинга в блоке extra_js #}
    <script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}