{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {# Добавляем мета-тег для CSRF-токена. Это очень важно для всех AJAX POST запросов. #}
    <meta name="csrfmiddlewaretoken" content="{{ csrf_token }}">

    {# Подключаем Bootstrap CSS #}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    {# Подключаем Flatpickr CSS #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    {# Подключаем Select2 CSS #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    {% block extra_head %}
    {% endblock %}
</head>
{# Добавляем атрибут data-user-authenticated к тегу body. #}
{# Это позволит JavaScript узнать, аутентифицирован ли пользователь. #}
<body class="d-flex flex-column min-vh-100" data-user-authenticated="{{ request.user.is_authenticated|yesno:'true,false' }}">
{% include 'includes/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 p-4">
            {% include 'includes/messages.html' %}
            {% block content %}
            {% endblock %}
            {% include 'includes/pagination.html' %}
        </div>
        <div class="col-4 p-4">
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}

{# Подключаем jQuery первым, так как другие скрипты от него зависят #}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{# Подключаем Bootstrap JS #}
{% bootstrap_javascript %}

{# Подключаем Flatpickr JavaScript и его локализацию #}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>

{# Подключаем Select2 JavaScript и его локализацию #}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/ru.js"></script>

{# Подключаем ваш backend.js (или любые другие общие скрипты) #}
<script src="{% static 'js/backend.js' %}"></script>

{# Изменено на extra_js для лучшей семантики #}
{# Здесь будут подключаться специфичные для страницы скрипты, такие как ratings.js или profile_scripts.js #}
{% block extra_js %}{% endblock %}
</body>
</html>